name: CI - build & test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List project files
        run: ls -la

      - name: Echo test
        run: echo "CI pipeline is working!"
